---
- name: Delete existing Gitea tokens
  ansible.builtin.uri:
    url: >-
      {{ ocp4_workload_mcp_user_gitea_external_url }}/api/v1/users/{{ ocp4_workload_mcp_user_user_base }}{{ item }}/tokens/{{ ocp4_workload_mcp_user_gitea_repository }}
    method: DELETE
    status_code: [204, 404, 422]
    user: "{{ ocp4_workload_mcp_user_user_base }}{{ item }}"
    password: "{{ ocp4_workload_mcp_user_gitea_user_password }}"
    force_basic_auth: true
    validate_certs: true
  loop: "{{ range(1, (ocp4_workload_mcp_user_num_users | int) + 1) | list }}"
  loop_control:
    label: "{{ ocp4_workload_mcp_user_user_base }}{{ item }}"

# Get tokens for Gitea users
# curl -XPOST -H "Content-Type: application/json"  -k -d '{"name":"mcp","scopes":["write:repository"]}'
#      -u ${GITEA_USER}:openshift ${GITEA_URL}/api/v1/users/user1/tokens
- name: Set up token for Gitea MCP Server
  ansible.builtin.uri:
    url: >-
      {{ ocp4_workload_mcp_user_gitea_external_url }}/api/v1/users/{{ ocp4_workload_mcp_user_user_base }}{{ item }}/tokens
    method: POST
    body: "{{ body }}"
    body_format: json
    status_code: 201
    user: "{{ ocp4_workload_mcp_user_user_base }}{{ item }}"
    password: "{{ ocp4_workload_mcp_user_gitea_user_password }}"
    force_basic_auth: true
    validate_certs: true
  vars:
    body:
      name: "{{ ocp4_workload_mcp_user_gitea_repository }}"
      scopes:
      - read:user
      - read:repository
      - read:issue
      - write:issue
  loop: "{{ range(1, (ocp4_workload_mcp_user_num_users | int) + 1) | list }}"
  loop_control:
    label: "{{ ocp4_workload_mcp_user_user_base }}{{ item }}"
  register: r_gitea_tokens

- name: Build Gitea tokens array and set secret facts for LibreChat
  ansible.builtin.set_fact:
    _ocp4_workload_mcp_user_gitea_tokens: "{{ r_gitea_tokens.results | map(attribute='json.sha1') | list }}"
    _ocp4_workload_mcp_user_librechat_key32: "{{ lookup('password', '/dev/null chars=hexdigits length=32') | lower }}"
    _ocp4_workload_mcp_user_librechat_key16: "{{ lookup('password', '/dev/null chars=hexdigits length=16') | lower }}"

- name: Debug Gitea tokens
  debug:
    msg: "Gitea tokens: {{ _ocp4_workload_mcp_user_gitea_tokens }}"
    verbosity: 2

- name: Create MCP lab components
  kubernetes.core.k8s:
    state: present
    template: "{{ item }}"
  loop:
  - scc.yaml.j2
  - applicationset-mcp-openshift.yaml.j2
  - applicationset-mcp-gitea.yaml.j2
  - applicationset-librechat-config.yaml.j2
  - applicationset-librechat.yaml.j2
  - applicationset-agent.yaml.j2

- name: Enable metrics access for regular users
  when: ocp4_workload_mcp_user_metrics_enable | bool
  block:
  - name: Create user monitoring ConfigMap
    kubernetes.core.k8s:
      state: present
      definition: "{{ lookup('file', 'configmap-user-monitoring.yaml') | from_yaml }}"

  - name: Enable dev perspective in OpenShift console for Observability
    kubernetes.core.k8s:
      state: patched
      api_version: operator.openshift.io/v1
      kind: Console
      name: cluster
      merge_type: merge
      definition:
        spec:
          customization:
            perspectives:
            - id: dev
              visibility:
                state: Enabled

- name: Save user information
  agnosticd.core.agnosticd_user_info:
    user: "{{ ocp4_workload_mcp_user_user_base }}{{ n + 1 }}"
    data:
      user: "{{ ocp4_workload_mcp_user_user_base }}{{ n + 1 }}"
      librechat_url: "https://librechat-{{ ocp4_workload_mcp_user_librechat_namespace_base }}-{{ ocp4_workload_mcp_user_user_base }}{{ n + 1 }}.{{ openshift_cluster_ingress_domain }}"
      librechat_user: "{{ ocp4_workload_mcp_user_user_base }}{{ n + 1 }}@{{ ocp4_workload_mcp_user_librechat_email_domain }}"
      librechat_password: "{{ ocp4_workload_mcp_user_librechat_password }}"
      openshift_mcp_server_url: "https://mcp-openshift-{{ ocp4_workload_mcp_user_openshift_namespace_base }}-{{ ocp4_workload_mcp_user_user_base }}{{ n + 1 }}.{{ openshift_cluster_ingress_domain }}/sse#openshift"
      gitea_mcp_server_url: "https://mcp-gitea-{{ ocp4_workload_mcp_user_gitea_namespace_base }}-{{ ocp4_workload_mcp_user_user_base }}{{ n + 1 }}.{{ openshift_cluster_ingress_domain }}/mcp"
  loop: "{{ range(0, ocp4_workload_mcp_user_num_users | int) | list }}"
  loop_control:
    loop_var: n
