---
- name: Delete existing tokens for Gitea MCP Server
  ansible.builtin.uri:
    url: >-
      {{ ocp4_workload_mcp_gitea_external_url }}/api/v1/users/{{ ocp4_workload_mcp_user_base }}{{ item }}/tokens/{{ ocp4_workload_mcp_gitea_repository }}
    method: DELETE
    status_code: [204, 404, 422]
    user: "{{ ocp4_workload_mcp_user_base }}{{ item }}"
    password: "{{ ocp4_workload_mcp_gitea_user_password }}"
    force_basic_auth: true
    validate_certs: true
  loop: "{{ range(1, ocp4_workload_mcp_num_users + 1) | list }}"
  loop_control:
    label: "{{ ocp4_workload_mcp_user_base }}{{ item }}"

# Get Token for Gitea user
# curl -XPOST -H "Content-Type: application/json"  -k -d '{"name":"mcp","scopes":["write:repository"]}'
#      -u ${GITEA_USER}:openshift ${GITEA_URL}/api/v1/users/user1/tokens
- name: Set up token for Gitea MCP Server
  ansible.builtin.uri:
    url: >-
      {{ ocp4_workload_mcp_gitea_external_url }}/api/v1/users/{{ ocp4_workload_mcp_user_base }}{{ item }}/tokens
    method: POST
    body: "{{ body }}"
    body_format: json
    status_code: 201
    user: "{{ ocp4_workload_mcp_user_base }}{{ item }}"
    password: "{{ ocp4_workload_mcp_gitea_user_password }}"
    force_basic_auth: true
    validate_certs: true
  vars:
    body:
      name: "{{ ocp4_workload_mcp_gitea_repository }}"
      scopes:
      - read:user
      - read:repository
      - read:issue
      - write:issue
  loop: "{{ range(1, ocp4_workload_mcp_num_users + 1) | list }}"
  loop_control:
    label: "{{ ocp4_workload_mcp_user_base }}{{ item }}"
  register: r_gitea_tokens

- name: Build Gitea tokens array
  ansible.builtin.set_fact:
    _ocp4_workload_mcp_gitea_tokens: "{{ r_gitea_tokens.results | map(attribute='json.sha1') | list }}"

- name: Debug Gitea tokens
  debug:
    msg: "Gitea tokens: {{ _ocp4_workload_mcp_gitea_tokens }}"

- name: Set secret facts for LibreChat
  ansible.builtin.set_fact:
    _ocp4_workload_mcp_librechat_key32: "{{ lookup('password', '/dev/null chars=hexdigits length=32') | lower }}"
    _ocp4_workload_mcp_librechat_key16: "{{ lookup('password', '/dev/null chars=hexdigits length=16') | lower }}"

- name: Create MCP lab components
  kubernetes.core.k8s:
    state: present
    template: "{{ item }}"
  loop:
  - scc.yaml.j2
  - applicationset-mcp-openshift.yaml.j2
  - applicationset-mcp-gitea.yaml.j2
  - applicationset-librechat-config.yaml.j2
  - applicationset-librechat.yaml.j2
  - applicationset-agent.yaml.j2

# - name: Save LibreChat access information
#   agnosticd.core.agnosticd_user_info:
#     data:
#       librechat_url: "https://{{ r_librechat_route.resources[0].spec.host }}"
#       librechat_user: "{{ ocp4_workload_mcp_librechat_email }}"
#       librechat_password: "{{ ocp4_workload_mcp_librechat_password }}"
