---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: openshift
  namespace: {{ ocp4_workload_mcp_namespace }}
spec:
  image: {{ ocp4_workload_mcp_openshift_image }}
  mcpPort: 8000
  podTemplateSpec:
    spec:
      containers:
      - args:
        - --port
        - "8000"
        command:
        - ./kubernetes-mcp-server
        name: mcp
  env:
  - name: FASTMCP_TIMEOUT
    value: "0"
  - name: FASTMCP_KEEPALIVE
    value: "true"
  - name: FASTMCP_IDLE_TIMEOUT
    value: "3600"
  proxyPort: 8080
  resources:
    limits: {}
    requests: {}
  serviceAccount: openshift-mcp
  transport: sse
  trustProxyHeaders: false
