---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: openshift
  namespace: {{ ocp4_workload_mcp_namespace }}
spec:
  image: {{ ocp4_workload_mcp_openshift_image }}
  transport: streamable-http
  proxyMode: streamable-http
  mcpPort: 8000
  proxyPort: 8080
  podTemplateSpec:
    spec:
      containers:
      - name: mcp
        command: ["./kubernetes-mcp-server"]
        args:
        - --port
        - "8000"