---
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: gitea
  namespace: {{ ocp4_workload_mcp_namespace }}
spec:
  image: {{ ocp4_workload_mcp_gitea_image }}
  transport: streamable-http
  proxyPort: 8080
  mcpPort: 8000
  secrets:
  - name: gitea-creds
    key: url
    targetEnvName: GITEA_HOST
  - name: gitea-creds
    key: token
    targetEnvName: GITEA_ACCESS_TOKEN
  env:
  - name: FASTMCP_TIMEOUT
    value: "0"
  - name: FASTMCP_KEEPALIVE
    value: "true"
  - name: FASTMCP_IDLE_TIMEOUT
    value: "3600"
  podTemplateSpec:
    spec:
      containers:
      - name: mcp
        args:
        - /app/gitea-mcp
        - -d
        - -port
        - "8000"
        - -transport
        - http
