---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-creds
  namespace: {{ ocp4_workload_mcp_namespace }}
type: Opaque
stringData:
  token: {{ _ocp4_workload_mcp_gitea_token }}
  url: {{ ocp4_workload_mcp_gitea_internal_url }}
